<% if resource.errors.any? %>


  <div id="error_explanation", class="px-5">
  <div class="alert alert-danger px-2">

    <h2>Failure: <%= pluralize(resource.errors.count, "error") %> prohibited this.</h2>
  </div>
    
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

<% end %>
