<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Starter Template · Bootstrap v4.6</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/starter-template/">


    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      #background {
        background-image: url(<%= asset_path 'Wall-tint.jpg' %>);
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="resources/carousel.css" rel="stylesheet">
  </head>
  <body>
    


<main role="main", class="bg-image">
 <div class="container pt-5">
  <div class="row jumbotron shadow-sm bg-dark col">
    <div class="col-sm-2">
      <%= image_tag "me.jpg", class:"bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto border"%>
    </div>  
    <div class="col-sm-10">
      <div class="starter-template text-light">
        <h1>About Me</h1>
        <p class="lead text-light">
          Hello! I'm Austin and I'm currently a university student and the University of Colorado, Colorado Springs. I have a passion for electronics and software design.
          <br>
          <strong>Major: </strong>Electrical Engineering
          <br>
          <strong>Minor: </strong>Computer Science
          <br>
          
        </p>
      </div>
    </div>
    
  </div>

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-9">
      <h2 class="featurette-heading text-light">Programming Languages. <span class="text-muted">With relative strength.</span></h2>
      <div class="container pr-5">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
            C
            <span class="badge badge-primary badge-pill">35%</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
            Java
            <span class="badge badge-primary badge-pill">35%</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
            HTML
            <span class="badge badge-primary badge-pill">20%</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
            Bash
            <span class="badge badge-primary badge-pill">5%</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
            Ruby
            <span class="badge badge-primary badge-pill">5%</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      
      <%= image_tag "p.png", class:"bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", width:"300", height:"300"%>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-9 order-md-2">
      <h2 class="featurette-heading text-light">Proficient Software. <span class="text-muted">Development or not.</span></h2>
      <div class="container pl-5">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
            Adobe Photoshop
            <span class="badge badge-primary badge-pill">40%</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
            Eclipse Foundation Eclipse
            <span class="badge badge-primary badge-pill">20%</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
            Microsoft VSCode
            <span class="badge badge-primary badge-pill">10%</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
            MathWorks MATLAB
            <span class="badge badge-primary badge-pill">20%</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent text-light">
            Analog LTSpice
            <span class="badge badge-primary badge-pill">10%</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 order-md-1">
      <%= image_tag "sd.png", class:"bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto", width:"255", height:"255"%>

    </div>
  </div>

  <hr class="featurette-divider">

<!-- /END THE FEATURETTES -->




</main><!-- /.container -->



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
